@import "../../scss/variables";
@import "src/scss/fonts";

.header-panel {
  display: flex;
  justify-content: flex-end;
  min-height: $header-panel-height;
  padding: $space-base;

  &__user-place {

  }

  .p-badge {
    @include font-text-0-875;
  }
}