@import "../../scss/variables";
@import "src/scss/fonts";

.header-panel {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $header-panel-height;
  padding-right: $space-base;
  border-bottom: 1px solid #ccc;

  &__user-place {

  }

  .p-badge {
    @include font-text-0-875;
  }
}