@mixin font-title-1 {
  font-size: 2rem;
}

@mixin font-title-sidebar {
  font-size: 1.5rem;
}

@mixin font-text-1 {
  font-size: 1rem;
}

@mixin font-text-0-875 {
  font-size: 0.875rem;
  cursor: pointer;
}